doctype 5
html.all

	include header

	div.all
		div(style="background-color:#292929; border-top-left-radius:1em; border-top-right-radius:1em; padding:4px; padding-left:12px; color:white; margin-bottom:20px; height:22px; white-space:nowrap;")
			| Error #{error}
		
		p(style="margin:0px; font-size:16px;")
			| Sorry there was an error on our end. It has been recorded.

		div(style="background-color:#292929; border-bottom-left-radius:1em; border-bottom-right-radius:1em; padding:4px; padding-left:12px; color:white; margin-top:20px; height:22px; white-space:nowrap;")
			

	include footer