doctype 5
html.all

	include header

	div.all(style="max-width:1000px; margin:auto;")
		div(style="background-color:#292929; border-top-left-radius:1em; border-top-right-radius:1em; padding:4px; padding-left:12px; color:white; height:22px; white-space:nowrap;")
			| Error
		
		p(style="margin:0px; font-size:16px; background-color:white; padding:10px; padding-top:20px; padding-bottom:20px;")
			| #{error.message}

		div(style="background-color:#292929; border-bottom-left-radius:1em; border-bottom-right-radius:1em; padding:4px; padding-left:12px; color:white; height:22px; white-space:nowrap;")
			

	include footer