//- Snowflakes
div(style="position:absolute; left:0px; right:0px; top:0px; bottom:0px; background-image:url('/images/bg6.png'); z-index:-1;")

div.footer
	div(style="text-align:center;")
		div(style="")
			table(style="margin:auto; margin-top:8px;")
				tr
					td
						a.footer(href="/")
							| Home
					td
						a.footer(href="/recipe/my")
							| Your Recipes
					td
						a.footer(href="/recipe/create")
							| New Recipe
					td
						a.footer(href="/user/profile")
							| Your Profile
					td
						a.footer(href="/user/profile")
							| Settings
					td
						a.footer(href="/")
							| Contact Us
					td
						a.footer(href="/")
							| Jobs
					td
						a.footer(href="/")
							| Advertising
		div(style="font-size:10px; padding-top:10px;")
			| #{website_title} Copyright &#169; 2012 OOAD Group Project


script(src="/jquery.js")
script
	function poll_notifications(){
		setTimeout(function(){
			$.ajax({
				type: 'POST',
				url: '/user/update_notifications', 
				dataType: 'json',
				success: update_notifications});
		}, 10000);
	};
	var notification_data = undefined;
	var noti_last_count = #{global.session.logged_in && global.session.notifications.actual_count};
	var noti_animate = 0;
	DATE_MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	DATE_DAYS = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
	if (#{global.session.logged_in})
	{
		// Start the chain of pollings
		$.ajax({
				type: 'POST',
				url: '/user/update_notifications', 
				dataType: 'json',
				success: update_notifications});
	}
	$(document).ready(function()
	{
		// hide boxes and place them correctly.  removes the ghost of a box on slow loading.
		$("#header_menu_login").hide();
		$("#header_menu_login").css('top', '48px');
		$("#header_menu_settings").hide();
		$("#header_menu_settings").css('top', '48px');
		$("#header_menu_recipes").hide();
		$("#header_menu_recipes").css('top', '48px');
		$("#header_menu_notifications").hide();
		$("#header_menu_notifications").css('top', '140px');
		// Update location for logging out
		var location = window.location.href;
		location = location.substring(location.indexOf(window.location.pathname));
		$("#logout_form_location").val(location);
		//
		$("#header_login_password").keypress(function(e) {
			if (e.keyCode == 13)
			{
				submit_login();
			}
		});
		// Function to hide div once someone clicks outside of it.
		$(document).mouseup(function(e)
		{
			var div = $("#header_menu_login");
			if (div.is(':visible') && div.has(e.target).length === 0)
				hide_drop_login();
			div = $("#header_menu_settings");
			if (div.is(':visible') && div.has(e.target).length === 0)
				hide_drop_settings();
			div = $("#header_menu_recipes");
			if (div.is(':visible') && div.has(e.target).length === 0)
				hide_drop_recipes();
			div = $("#header_menu_notifications");
			if (div.is(':visible') && div.has(e.target).length === 0)
				hide_drop_notifications();
		});
		$("#header_search_bar").focusout(function()
		{
			// Puts the search text back if there is nothing there on leave
			var search_bar = $("#header_search_bar");
			if (search_bar.val() == '')
				search_bar.val('Search');
		});
		$("#notifications_button").hover(function(){
			if (noti_animate == 0)
			{
				$("#notifications_title").animate({'padding-left': 100}, 350, function(){if (noti_animate == 3) $("#notifications_title").animate({'padding-left': 0}, 350, function(){noti_animate = 0;}); else noti_animate = 2;});
				noti_animate = 1;
			}
		}, function(){
			if (noti_animate == 2)
				$("#notifications_title").animate({'padding-left': 0}, 350, function(){noti_animate = 0;});
			else if (noti_animate == 1)
				noti_animate = 3;
		});
	});
	//
	// Search
	function clear_search_bar()
	{
		// Removes the search text
		var search_bar = $("#header_search_bar");
		if (search_bar.val() == 'Search')
			search_bar.val('');
	}
	//
	// Login
	function show_drop_login()
	{
		$("#header_menu_login").slideDown(100);
		$("#header_login_username").val("");
		$("#header_login_password").val("");
		$("#header_login_username").focus();
	}
	function hide_drop_login()
	{
		$("#header_menu_login").slideUp(100);
	}
	function submit_drop_login()
	{
		if ($("#header_login_username").val() == '')
		{
			$("#header_login_username").focus();
			return;
		}
		if ($("#header_login_password").val() == '')
		{
			$("#header_login_password").focus();
			return;
		}
		$("#header_menu_login").slideUp(100);
		// location argument allows us to return to the page we were on when we tried to logon.
		var location = window.location.href;
		location = location.substring(location.indexOf(window.location.pathname));
		$("#header_menu_login_location").val(location);
		$("#header_login_form").submit();
	}
	//
	// Settings
	function show_drop_settings()
	{
		$("#header_menu_settings").slideDown(100);
	}
	function hide_drop_settings()
	{
		$("#header_menu_settings").slideUp(100);
	}
	//
	// Recipes
	function show_drop_recipes()
	{
		$("#header_menu_recipes").slideDown(100);
	}
	function hide_drop_recipes()
	{
		$("#header_menu_recipes").slideUp(100);
	}
	// Notifications
	function show_drop_notifications()
	{
		$("#header_menu_notifications").slideDown(100);
	}
	function hide_drop_notifications()
	{
		$("#header_menu_notifications").slideUp(100);
	}
	function update_notifications(data)
	{
		notification_data = data;
		redraw_notifications();
		poll_notifications();
	}
	function redraw_notifications()
	{
		$("#header_menu_notifications").empty();
		$("#notifications_count").text(notification_data.new_items.length);
		if (notification_data.new_items.length != noti_last_count && $("#notifications_title").css('padding-left') == '0px')
		{
			$("#notifications_title").animate({'padding-left': 20}, 250, function(){$("#notifications_title").animate({'padding-left': 0}, 250)});
			noti_last_count = notification_data.new_items.length;
		}
		if (notification_data.new_items.length == 0)
		{
			var row = $("<div></div>").attr({class: 'header_dropdown_button', style: "cursor:default;"}).appendTo("#header_menu_notifications");
			var button = $("<div></div>").attr('class', 'header_dropdown_button_icon').appendTo(row);
			$("<img/>").attr({src: "../images/icon_alert1.png", style:"position:relative; left:-2px; top:-2px; width:22px;"}).appendTo(button);
			$("<div>No new notifications.</div>").attr({style: "width:180px;"}).appendTo(row);
			$("#notifications_button").css('border', '1px solid #bababa');
			$("#notifications_button").css('color', '#bababa');
		}
		else
		{
			$("#notifications_button").css('border', '1px solid white');
			$("#notifications_button").css('color', 'white');
			for (var i in notification_data.new_items)
			{
				var item = notification_data.new_items[i];
				if (item != null)
				{
					if (item.type == 0)
					{
						var row = $("<div></div>").attr({class: 'header_dropdown_button', onClick: "window.location.href='/recipe/view?r_id=" + item.recipe_id + "'"}).appendTo("#header_menu_notifications");
						var button = $("<div></div>").attr('class', 'header_dropdown_button_icon').appendTo(row);
						$("<img/>").attr({src: "../images/icon_comment1.png", style:"position:relative; left:-2px; top:-2px; width:22px;"}).appendTo(button);
						// 
						var a = $("<a></a>").attr({href:"/recipe/view?r_id=" + item.recipe_id, style:"text-decoration:none; color:#bababa;"}).appendTo(row);
						// details
						$("<span>" + item.comment_owner + " commented or replied in </span>").appendTo(a);
						$("<span>" + item.recipe_name + "</span>").attr({style: "font-weight:bold;"}).appendTo(a);
						$("<div>\"</div>").attr({style: "margin-bottom:-16px; position:absolute; top:18px; left:30px; font-size:24px;"}).appendTo(a);
						$("<div>\"</div>").attr({style: "margin-bottom:-16px; position:absolute; top:18px; right:6px; font-size:24px;"}).appendTo(a);
						//
						$("<div>" + item.content + "</div>").attr({style: "background-color:#424242; margin-left:38px; margin-top:6px; margin-bottom:20px; padding:2px; border-radius:.2em;"}).appendTo(a);
						var date = new Date(item.date);
						$("<div>" + DATE_DAYS[date.getDay()] + ", " + DATE_MONTHS[date.getMonth()] + " " + date.getDate() + " " + date.getFullYear() + " at " + date.toLocaleTimeString() + ".</div>").attr({style: "position:absolute; bottom:4px; right:10px; margin-top:6px; margin-bottom:0px; padding:2px; font-size:12px;"}).appendTo(a);
					}
					else if (item.type == 1)
					{
						var row = $("<div></div>").attr({class: 'header_dropdown_button', onClick: "window.location.href='/user/profile?u='"}).appendTo("#header_menu_notifications");
						var button = $("<div></div>").attr('class', 'header_dropdown_button_icon').appendTo(row);
						$("<img/>").attr({src: "../images/icon_person1.png", style:"position:relative; left:-2px; top:-2px; width:22px;"}).appendTo(button);
						//
						var a = $("<a></a>").attr({href:"/user/profile?u=", style:"text-decoration:none; color:#bababa;"}).appendTo(row);
						// details
						$("<span>" + item.follower + " wants to follow you. </span>").appendTo(a);
						//
						$("<div></div>").attr({style: "margin-bottom:20px;"}).appendTo(a);
						var date = new Date(item.date);
						$("<div>" + DATE_DAYS[date.getDay()] + ", " + DATE_MONTHS[date.getMonth()] + " " + date.getDate() + " " + date.getFullYear() + " at " + date.toLocaleTimeString() + ".</div>").attr({style: "position:absolute; bottom:4px; right:10px; margin-top:5px; margin-bottom:0px; padding:2px; font-size:12px;"}).appendTo(a);
					}
					else if (item.type == 2)
					{
						var row = $("<div></div>").attr({class: 'header_dropdown_button', onClick: "window.location.href='/recipe/view?r_id=" + item.recipe.id + "'"}).appendTo("#header_menu_notifications");
						var button = $("<div></div>").attr('class', 'header_dropdown_button_icon').appendTo(row);
						$("<img/>").attr({src: "../images/icon_recipe1.png", style:"position:relative; left:-2px; top:-2px; width:22px;"}).appendTo(button);
						//
						var a = $("<a></a>").attr({href:"/recipe/view?r_id=" + item.recipe.id, style:"text-decoration:none; color:#bababa;"}).appendTo(row);
						// details
						$("<span>" + item.owner + " has shared " + item.recipe.name + ".</span>").appendTo(a);
						//
						$("<div></div>").attr({style: "margin-bottom:20px;"}).appendTo(a);
						var date = new Date(item.date);
						$("<div>" + DATE_DAYS[date.getDay()] + ", " + DATE_MONTHS[date.getMonth()] + " " + date.getDate() + " " + date.getFullYear() + " at " + date.toLocaleTimeString() + ".</div>").attr({style: "position:absolute; bottom:4px; right:10px; margin-top:5px; margin-bottom:0px; padding:2px; font-size:12px;"}).appendTo(a);
					}
				}
			}
		}
	}