head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')

div(style="height:52px;")
div.header
	div.title_button(style="", onClick="window.location.href='/'")
		| #{title}

	div(style="float:left; position:fixed; left:160px; top:9px;")
		input.input_text(style="background-color:#616158; float:left; color:#bababa; margin-bottom:5px; height:14px;", value="Search", id="header_search_bar", onClick="clear_search_bar();")

	#userinfo
		if global.session.logged_in != 0
			div.userinfo_settings(onClick="show_drop_settings();", id="header_button_settings")
				| Hello #{global.session.user.id}
			div.userinfo_button(onClick="show_drop_recipes()")
				| Recipes
		else
			div.userinfo_button(onClick="show_drop_login();", id="header_button_login")
				| Login
			div.userinfo_button(onClick="window.location.href='/sign_up'")
				| Sign Up!

//- Start drop down boxes

div.header_dropdown(id="header_menu_login", style="position:fixed; top:48px; right:10px; width:188px;")
	form(style="margin:0px; padding:0px;", method='post', action='/login', id='header_login_form')
		| Username
		input.input_text(type="text", name="username", id="header_login_username", style="background-color:#616158; color:white; margin-bottom:5px;", required="required")
		| Password
		input.input_text(type="password", name="password", id="header_login_password", style="background-color:#616158; color:white; margin-bottom:5px;", required="required")
		//- location argument allows us to return to the page we were on when we tried to logon.
		input(id="header_menu_login_location", type="hidden", name="location")
		
		button.submit3(style="float:left;", onClick="submit_drop_login();")
			| Login
		button.submit3(style="float:right;", onClick="hide_drop_login();")
			| Cancel

div.header_dropdown(id="header_menu_settings", style="position:fixed; top:48px; right:10px; width:auto;")
	div.header_dropdown_button
		div.header_dropdown_button_icon
			| icon 
			//- remove later
		| My Account
	div.header_dropdown_button(id="header_settings_logout", onClick="$('#logout_form').submit();", title="Click here to logout.")
		div.header_dropdown_button_icon
			| icon 
			//- remove later
		form(id="logout_form", style="margin:0px; padding:0px;", method="post", action="/")
			input(id="logout_form_location", type="hidden", name="location")
			input(type="hidden", name="logout", value="1")
		| Log Out

div.header_dropdown(id="header_menu_recipes", style="position:fixed; top:48px; right:10px; width:auto;")
	div.header_dropdown_button
		div.header_dropdown_button_icon
			| icon 
			//- remove later
		| My Recipes
	div.header_dropdown_button
		div.header_dropdown_button_icon
			| icon 
			//- remove later
		| My Friend's Recipes
	div.header_dropdown_button
		div.header_dropdown_button_icon
			| icon 
			//- remove later
		| Followed Recipes
	div.header_dropdown_button
		div.header_dropdown_button_icon
			| icon 
			//- remove later
		| Lookup Recipes

body.body