head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')

div.header
	div.title_button(style="", onClick="window.location.href='/'")
		| #{title}

	table(style="position:absolute; top:0px; right:0px; width:300px; margin:2px; margin-right:10px;")
		tr
			td //- This is just to allow spacing options
			#userinfo
				if global.session.logged_in != 0
					td(style="width:200px;")
						div.header_info_r
							| Hello #{global.session.user.id}!
					td(style="width:10px;")
						div.userinfo_settings(style="width:50px;")
							| &#9881
				else
					td(style="width:10px;")
						div.userinfo(style="width:80px;", onClick="window.location.href='/sign_up'")
							| Sign Up!
					td(style="width:10px;")
						div.userinfo(onClick="window.location.href='/login'")
							| Login

body.body