head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')

div(style="height:52px;")
div.header
	div.title_button(style="", onClick="window.location.href='/'")
		| #{title}

	table(style="position:absolute; top:0px; right:0px; width:300px; margin:2px; margin-right:10px;")
		tr
			td //- This is just to allow spacing options
			#userinfo
				if global.session.logged_in != 0
					td(style="width:200px;")
						div.header_info_r
							| Hello #{global.session.user.id}!
					td(style="width:10px;")
						div.userinfo_settings(style="width:50px;")
							| &#9881
				else
					td(style="width:10px;")
						div.userinfo(style="width:80px;", onClick="window.location.href='/sign_up'")
							| Sign Up!
					td(style="width:10px;")
						div.userinfo(onClick="show_login();")
							| Login

div.header_login_form(id="header_login_form")
	| Username
	input.input_text(type="text", name="username", id="header_login_username", style="background-color:#616158; color:white; margin-bottom:5px;")
	| Password
	input.input_text(type="password", name="password", id="header_login_password", style="background-color:#616158; color:white; margin-bottom:5px;")
	button.submit3(style="float:left;", onClick="submit_login();")
		| Login
	button.submit3(style="float:right;", onClick="hide_login();")
		| Cancel

body.body