doctype 5
html.all

	include header

	//- This is the comment I added

	div.all
		div.title_middle
				| #{title}
		div(style="position:absolute; left:50%; top:50%; margin-left:60px; margin-top:-56px; width:200px; height:80px; background-image:url('../images/carrot.png'); background-repeat:no-repeat; background-size:100% 100%;")


	include footer