doctype 5
html.all

	include header
	
	div.all(style="max-width:1000px; margin:auto;")
		div(style="padding:10px; border:1px solid #c2c2c2; background-color:white; font-size:24px;")
			| No such page &#9785
			div(style="font-size:16px; margin-top:10px;")
				| The page you requested is either under developement or we did not expect you to really want to follow the link.  
				ul(style="")
					li
						| How about seeing the home page again? 
						a(href="/", style="color:black;")
							| Click here.


	include footer