doctype 5
html.all

	include ../header

	div.all
		#ErrorChecking(style="margin-bottom:20px;")
			if (miss == '1')
				div.notify1_bad
					| Your passwords did not match.
			if (miss == '2')
				div.notify1_bad
					| Your username is already in use.
			if (miss == '3')
				div.notify1_bad
					| Your username must be longer than 1 characters.
			if (miss == '4')
				div.notify1_bad
					| Your username must be shorter than 40 characters.

		div(style="width:600px; margin:auto; text-align:center; font-size:42px; color:black; margin-bottom:40px; border:1px solid #c2c2c2; border-radius:.8em; padding:10px; background-color:white;")
			| &#9733 Great Choice Signing Up &#9733

		div(style="width:800px; margin:auto; background-color:white; border:1px solid #c2c2c2; border-radius:.8em; padding:10px;")
			form(style="margin:0px; padding:0px;", method="post", action="/user/new")
				div(style="background-color:#292929; color:white; padding:4px; padding-left:10px; border-radius:2em; margin-bottom:20px;")
					| User Information

				div(style="margin:auto; width:580px; height:290px;")
					div(style="float:left; padding-left:40px; margin-bottom:30px;")
						| Preffered Username:
						div(style="clear:left; margin:8px; margin-left:20px;")
							input.input_text(id="username", type="text", name="username", maxlength="40", required="required", autofocus)
						div(style="font-size:12px; text-align:center;")
							| This is a permanent username!

					div(id="invalid_id", style="float:left; color:white; font-size:12px; margin-top:33px; margin-left:20px; padding:2px; padding-left:6px; padding-right:6px; background-color:#db4c4c; border:1px solid red; border-radius:.6em; visiblility:hidden;")
						| This username is in use, please choose another.

					div(style="float:left; padding-left:40px; clear:left;")
						| First Name:
						div(style="clear:left; margin:8px; margin-left:20px;")
							input.input_text(type="text", name="first_name", maxlength="40", required="required")

					div(style="float:left; padding-left:40px;")
						| Last Name:
						div(style="clear:left; margin:8px; margin-left:20px;")
							input.input_text(type="text", name="last_name", maxlength="40", required="required")

					div(style="float:left; clear:left; padding-left:40px; margin-top:20px;")
						| Email:
						div(style="clear:left; margin:8px; margin-left:20px;")
							input.input_text(id="email", type="email", name="email", maxlength="50", required="required")

					div(id="not_email", style="float:left; color:white; font-size:12px; margin-top:53px; margin-left:20px; padding:2px; padding-left:6px; padding-right:6px; background-color:#db4c4c; border:1px solid red; border-radius:.6em; visiblility:hidden;")
						| This doesn't look like a valid email.

				div(style="background-color:#292929; color:white; padding:4px; padding-left:10px; border-radius:2em; margin-bottom:20px;")
					| Security

				div(style="margin:auto; width:580px; height:120px;")
					div(style="float:left; padding-left:40px; clear:left;")
						| Password:
						div(style="clear:left; margin:8px; margin-left:20px;")
							input.input_text(id="password1", type="password", name="password", maxlength="16", required="required")

					div(style="float:left; padding-left:40px; clear:right;")
						| Confirm Your Password:
						div(style="clear:both; margin:8px; margin-left:20px;")
							input.input_text(id="password2", type="password", name="password_confirm", maxlength="16", required="required")

					div(id="mismatch_passwords", style="float:left; clear:both; color:white; font-size:12px; margin-left:190px; margin-top:10px; padding:2px; padding-left:6px; padding-right:6px; background-color:#db4c4c; border:1px solid red; border-radius:.6em; visiblility:hidden;")
						| Your passwords do not match up.

				div(style="background-color:#292929; color:white; padding:4px; padding-left:10px; border-radius:2em; margin-bottom:20px;")
					| Ready?

				div(style="margin:auto; width:150px;")
					button.button1b(id="complete_button", type="submit", style="font-size:34px; margin-bottom:20px;")
						| Continue

	script(src="/jquery.js")
	script
		var user_id_pass = false;
		var user_pass_pass = false;
		var user_email_pass = false;
		$(document).ready(function()
		{
			check_passes();
			$("#invalid_id").hide();
			$("#invalid_id").css('visiblility', 'visible');
			$("#not_email").hide();
			$("#not_email").css('visiblility', 'visible');
			$("#mismatch_passwords").hide();
			$("#mismatch_passwords").css('visiblility', 'visible');
			$("#username").bind('keyup change', function()
			{
				check_username();
			});
			$("#email").bind('keyup mouseup change select', function()
			{
				if (!$("#email").val().match(/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/gi))
				{
					show_not_email();
				}
				else
				{
					hide_not_email();
				}
			});
			$("#password1").keyup(function()
			{
				if ($("#password2").val() != '' && $("#password1").val() != $("#password2").val())
				{
					show_mismatch_passwords();
				}
				else
				{
					hide_mismatch_passwords();
				}
			});
			$("#password2").keyup(function()
			{
				if ($("#password1").val() != '' && $("#password2").val() != $("#password1").val())
				{
					show_mismatch_passwords();
				}
				else
				{
					hide_mismatch_passwords();
				}
			});
		});
		function check_username()
		{
			var name = $("#username").val();
			if (name.length < 2)
			{
				$("#invalid_id").text("Your username must be longer than 1 characters.");
				$("#invalid_id").show();
				user_id_pass = 0;
			}
			else if (name.length > 40)
			{
				$("#invalid_id").text("Your username must be shorter than 40 characters.");
				$("#invalid_id").show();
				user_id_pass = 0;
			}
			else
			{
				$.ajax({
					type: 'POST',
					url: '/user/lookup',
					data: {username: name}, 
					dataType: 'json',
					success: function(data){
						if (!data.result && name != '')
						{
							user_id_pass = false;
							$("#invalid_id").text("This username is in use, please choose another.");
							$("#invalid_id").show();
						}
						else
						{
							user_id_pass = true;
							$("#invalid_id").hide();
						}
						check_passes();
					}
				});
			}
			check_passes();
		}
		function show_not_email()
		{
			$("#not_email").show();
			user_email_pass = false;
			check_passes();
		}
		function hide_not_email()
		{
			$("#not_email").hide();
			user_email_pass = true;
			check_passes();
		}
		function show_mismatch_passwords()
		{
			$("#mismatch_passwords").show();
			user_pass_pass = false;
			check_passes();
		}
		function hide_mismatch_passwords()
		{
			$("#mismatch_passwords").hide();
			user_pass_pass = true;
			if ($("#password1").val() == '' || $("#password2").val() == '')
				user_pass_pass = false;
			check_passes();
		}
		function check_passes()
		{
			console.log(user_id_pass + " " + user_pass_pass + " " + user_email_pass)
			if (user_id_pass && user_pass_pass && user_email_pass)
				$("#complete_button").removeAttr('disabled');
			else
				$("#complete_button").attr('disabled', 'disabled');
		}

	include ../footer