html.all
{
	font-family:Arial,Helvetica,sans-serif;
	background-color:white;
	position:relative;
	min-width:800px;
	height:100%;
}

div.header
{
	position:fixed; left:0px; right:0px; top:0px; 
	/*min-width:800px;*/
	height:42px; 
	color:#bababa;
	font-size:16px;
	background-image:url('../images/bar1.png'); background-repeat:repeat-x; background-size:100% 100%;
	z-index:5;
}

div.header_dropdown
{
	position:fixed;
	padding:10px;
	width:188px;
	background-color:#292929;
	border-radius:.4em; 
	border:1px solid #bababa;
	color:#bababa;
	text-align:center;
}

div.header_dropdown_button
{
	text-align:left;
	height:20px;
	margin-top:6px;
	margin-bottom:6px;
	padding-top:4px;
	padding-bottom:4px;
	padding-right:10px;
	cursor:pointer;
}
div.header_dropdown_button:hover
{
	background-color:#383838;
}

div.header_dropdown_button_icon
{
	width:18px;
	height:18px;
	border:1px solid #bababa;
	float:left;
	margin-right:10px;
	margin-left:10px;
	overflow:hidden;
	font-size:8px;
}

div.title_middle
{
	position:absolute; left:50%; top:50%;
	margin-left:-200px; margin-top:-50px;
	width:400px; height:80px;
	text-align:center;
	font-size:48px;
	cursor:default;
}

body.body
{
	height:auto;
	min-height:100%;
	position:relative;
	margin:0px;
}

div.all
{
	font-size:18px; color:black;
	padding:20px;
	padding-bottom:50px;
	min-height:600px;
	height:auto;
}

div.footer
{
	position:fixed; bottom:-2px; left:50%;
	margin-left:-150px;
	padding-top:4px;
	padding-left:20px;
	padding-right:20px;
	background-color:white;
	border:1px solid gray;
	width:300px;
	height:22px;
	border-top-left-radius:.6em;
	border-top-right-radius:.6em;
	font-size:14px;
	color:#a0a0a0;
	text-align:center;
	cursor:default;
	opacity:.8; 
	filter:alpha(opacity=80);
}
div.footer:hover
{
	color:#b8b8b8;
}

div.notify1_good
{
	color:green;
	background-color:#daf1c9;
	text-align:center; 
	border:1px dotted green;
	width:430px;
	margin:auto;
	border-radius:.3em;
}

div.notify1_bad
{
	color:red;
	background-color:#f1c9c9;
	text-align:center; 
	border:1px dotted red;
	width:430px;
	margin:auto;
	border-radius:.3em;
}

div.title_button
{
	position:absolute;
	top:4px; left:4px;
	height:24px;
	padding:6px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:20px;
	cursor:default;
	border-radius:.3em;
	border:1px solid transparent;
}
div.title_button:hover
{
	color:#d9d9d9;
	cursor:pointer;
	border:1px solid #575757;
}
div.title_button:active
{
	padding-top:6px;
	padding-bottom:2px;
}

div.header_info_r
{
	text-align:right;
	color:#bababa;
	cursor:default;
	border-radius:.3em;
	border:1px solid transparent;
	padding-top:6px;
	padding-bottom:6px;
	padding-right:12px;
}

div.userinfo_button
{
	position:relative;
	top:4px;
	right:4px;
	float:right;
	text-align:center;
	color:#bababa;
	cursor:default;
	border-radius:.3em;
	border:1px solid transparent;
	padding:6px;
	padding-left:10px;
	padding-right:12px;
	margin-right:12px;
	height:18px;
	white-space:nowrap;
}
div.userinfo_button:hover
{
	color:#d9d9d9;
	cursor:pointer;
	border:1px solid #575757;
}
div.userinfo_button:active
{
	padding-top:8px;
	padding-bottom:4px;
}

div.userinfo_settings
{
	position:relative;
	top:4px;
	right:10px;
	float:right;
	text-align:center;
	color:#bababa;
	cursor:default;
	border-radius:.3em;
	border:1px solid transparent;
	padding:6px;
	padding-left:10px;
	padding-right:12px;
	height:18px;
	white-space:nowrap;
}
div.userinfo_settings:hover
{
	color:#d9d9d9;
	cursor:pointer;
	border:1px solid #575757;
}
div.userinfo_settings:active
{
	padding-top:8px;
	padding-bottom:4px;
}

body.page
{
	width:800px;
	height:100px;
	margin:auto;
	/*background-color:transparent;*/
	border:2px solid black;
}

h1.head1
{
	margin:0px;
	margin-bottom:10px;
}

input.input_text
{
	height:18px;
	padding:4px;
	padding-left:8px;
	padding-right:8px;
	border:1px solid black;
	border-radius:.4em;
}

textarea.text_box {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

button.submit1
{
	font-size:28px;
	color:white;
	margin:auto;
	background-color:#0f5200;
	cursor:pointer;
	height:42px;
	padding:4px;
	padding-left:12px;
	padding-right:12px;
	border-radius:.8em;
}
button.submit1:hover
{
	background-color:#178000;
}
button.submit1:active
{
	padding-top:3px;
	padding-bottom:5px;
}
button.submit1:disabled
{
	background-color:#c5d1c2;
	cursor:default;
}

button.submit2
{
	font-size:22px;
	color:white;
	margin:auto;
	background-color:black;
	cursor:pointer;
	height:42px;
	padding:2px;
	padding-left:8px;
	padding-right:8px;
	border-radius:.8em;
}
button.submit2:hover
{
	background-color:#1c1c1c;
}
button.submit2:active
{
	padding-top:0px;
	padding-bottom:4px;
}

button.submit3
{
	color:#9c9c8e;
	font-weight:bold;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
	border-radius:.8em;
	border:1px solid #616158;
	background-color:#292929;
	cursor:pointer;
}
button.submit3:hover
{
	background-color:#333233;
}