doctype 5
html.all

	include ../header

	div.all(style="max-width:1000px; margin:auto;")
		h1= wiki.title

		- for(var i in wiki.content)
			p= wiki.content[i].content

		- if(wiki.video.id != 1)
			<iframe width="560" height="315" src="#{wiki.video.address}" frameborder="0" allowfullscreen></iframe>


	
	include ../footer